In [15]:
import pandas as pd

In [90]:
def make_dict(df): 
    out_dict = df.set_index(0).T.to_dict('list')
    return(out_dict)

def replace_val(df, col_dict, col): 
    df[col] = df[col].map(col_dict)
    return(df)

def split_clean_cols(df): 
    df[['animals','unit','geo']] = df['animals,unit,geo'].str.split(',', expand = True)
    df = df.drop(columns = ['animals,unit,geo'])
    df.columns = df.columns.str.replace(' ','')
    return(df)

In [93]:
# IMPORT FILES
animals = pd.read_csv('ESTAT_ANIMALS_en.tsv', delimiter = '\t', header = None)
unit = pd.read_csv('ESTAT_UNIT_en.tsv', delimiter = '\t', header = None)
geo = pd.read_csv('ESTAT_GEO_en.tsv', delimiter = '\t', header = None)
agr_r_animal = pd.read_csv('agr_r_animal.tsv', delimiter = '\t')

In [94]:
animals_dict = make_dict(animals)
unit_dict = make_dict(unit)
geo_dict = make_dict(geo)

In [95]:
cols = agr_r_animal.columns.tolist()
cols[0] = 'animals,unit,geo'
agr_r_animal.columns = cols

In [96]:
agr_r_animal = split_clean_cols(agr_r_animal)

In [8]:
agr_r_animal['animals'] = agr_r_animal['animals'].map(animals_dict).str[0]
agr_r_animal['unit'] = agr_r_animal['unit'].map(unit_dict).str[0]
agr_r_animal['geo/time'] = agr_r_animal['geo/time'].map(geo_dict).str[0]

In [9]:
agr_r_animal = agr_r_animal.melt(id_vars=['animals','unit','geo/time'], 
        var_name='year', 
        value_name='population')

In [11]:
agr_r_animal = agr_r_animal[agr_r_animal.population != ': ']

In [13]:
agr_r_animal_cat_yr = agr_r_animal.groupby(['animals'])['year'].unique().apply(list).reset_index()
agr_r_animal_cat_area_yr = agr_r_animal.groupby(['animals','geo/time'])['year'].unique().apply(list).reset_index()

In [16]:
agr_r_animal_cat_area_yr

,animals,geo/time,year
0,"Bovine animals, 1 to less than 2 years old",Abruzzo,"[2021, 2020, 2019, 2018, 2017, 2016, 2015, 201..."
1,"Bovine animals, 1 to less than 2 years old",Alentejo,"[2021, 2020, 2019, 2018, 2017, 2016, 2015, 201..."
2,"Bovine animals, 1 to less than 2 years old",Alföld és Észak,"[2021, 2020, 2019, 2018, 2017, 2016, 2015, 201..."
3,"Bovine animals, 1 to less than 2 years old",Algarve,"[2021, 2020, 2019, 2018, 2017, 2016, 2015, 201..."
4,"Bovine animals, 1 to less than 2 years old",Alsace,"[2021, 2020, 2019, 2018, 2017, 2016, 2015, 201..."
...,...,...,...
18801,"Sows, not covered",Ísland,"[2019, 2018, 2017, 2016, 2015, 2014, 2013, 201..."
18802,"Sows, not covered",Île de France,"[2021, 2020, 2019, 2018, 2017, 2016, 2015, 201..."
18803,"Sows, not covered",Östra Mellansverige,"[2021, 2020, 2019, 2018, 2017, 2016, 2015, 201..."
18804,"Sows, not covered",Östra Sverige,"[2021, 2020, 2019, 2018, 2017, 2016, 2015, 201..."
18805,"Sows, not covered",Övre Norrland,"[2021, 2020, 2019, 2018, 2017, 2016, 2015, 201..."