In [1]:
from neo4j import GraphDatabase
import pandas as pd
import csv

In [191]:
class graph:

    def __init__(self, uri, user, password):
        self.driver = GraphDatabase.driver(uri, auth=(user, password))

    def close(self):
        self.driver.close()

    def print_datasource(self, name):
        print(name)
        with self.driver.session() as session:
            name_node = session.write_transaction(self._create_and_return_source, name)
            print(name_node)
    
    def print_create_return_table(self, source_name, table_name, year):
        with self.driver.session() as session: 
            table = session.write_transaction(self._create_return_table, source_name, table_name, year)
            print(table)
    
    def print_create_return_category(self, table_name, item_name, year):
        with self.driver.session() as session: 
            item = session.write_transaction(self._create_return_category, table_name, item_name, year)
            print(item)
    
    def print_create_return_area(self, item_name, area_name, year, source):
        with self.driver.session() as session:
            item = session.write_transaction(self._create_return_area, item_name, area_name, year, source)
            print(item)

    @staticmethod
    def _create_and_return_source(tx, name):
        result = tx.run("CREATE (d:Datasource) "
                        "SET d.name = $name "
                        "RETURN d.name", name=name)
        return result.single()[0]
    
    @staticmethod
    def _create_return_table(tx, source_name, table_name, year):
        result = tx.run("MATCH (d:Datasource) "
                        "WHERE d.name = $source_name "
                        "CREATE (d)-[s:HAS_TABLE]->(t:table) "
                        "SET s.year = $year "
                        "SET t.name = $table_name "
                        "RETURN t.name", source_name = source_name, year = year, table_name = table_name)
        return result.single()[0]
    
    @staticmethod
    def _create_return_category(tx, table_name, item_name, year): 
        result = tx.run("MATCH (t:table) "
                        "WHERE t.name = $table_name "
                        "MERGE (c:Category {name: $item_name}) "
                        "MERGE (t)-[r:HAS_CATEGORY]->(c) "
                        "SET r.year = $year "
                        "RETURN c.name, t.name", table_name = table_name, item_name = item_name, year = year)
        return result.single()[0]
    
    @staticmethod
    def _create_return_area(tx, item_name, area_name, year, source):
        if source == 'UNFCCC': 
            result = tx.run("MATCH (c:Category) "
                            "WHERE c.name = $item_name "
                            "MERGE (a:Area {name: $area_name}) "
                            "MERGE (c)-[r:REPORTED_BY]->(a) "
                            "SET r.year_UNFCCC = $year "
                            "RETURN r.year_prop", item_name = item_name, area_name = area_name, year = year, source = source)
        elif source == 'FAO TIER 1': 
            result = tx.run("MATCH (c:Category) "
                            "WHERE c.name = $item_name "
                            "MERGE (a:Area {name: $area_name}) "
                            "MERGE (c)-[r:REPORTED_BY]->(a) "
                            "SET r.year_FAOTIER1 = $year "
                            "RETURN r.year", item_name = item_name, area_name = area_name, year = year, source = source)
        return result.single()[0]

In [192]:
graph_db = graph("bolt://localhost:7687", "neo4j", "asdf")

In [159]:
# Open file for loading 
datasource = 'FAOSTAT Enteric Fermentation'
filepath = '/Users/kassyraymond/PhD/trunk/DatasphereGraph/FAOSTAT/Emissions_Agriculture_Enteric_Fermentation_E_All_Data_(Normalized)'
EF_source_item_year = pd.read_csv ('%s%s' % (filepath, '/EF_Source_Item_Year.csv'))
EF_source_country_year = pd.read_csv('%s%s' % (filepath, '/EF_Source_Country_Year.csv'))
EF_source_year = pd.read_csv('%s%s' % (filepath, '/EF_source_year.csv'))
EF_item_area_source_year = pd.read_csv('%s%s' % (filepath, '/EF_Item_Area_Source_Year.csv'))

In [62]:
EF_source_year['Year']

0    [1961, 1962, 1963, 1964, 1965, 1966, 1967, 196...
1    [1990, 1991, 1992, 1993, 1994, 1995, 1996, 199...
Name: Year, dtype: object

In [151]:
graph_db.print_datasource(datasource)

EF_source_yr_cols = EF_source_year.columns.tolist()
 
for i in range (0, EF_source_year.shape[0]):
    year = EF_source_year['Year'].iloc[i]
    source = EF_source_year['Source'].iloc[i]
    graph_db.print_create_return_table(datasource, source, year)

FAOSTAT Enteric Fermentation
FAOSTAT Enteric Fermentation
FAO TIER 1
UNFCCC

In [155]:
EF_source_item_year

for i in range(0, EF_source_item_year.shape[0]):
    source = EF_source_item_year['Source'].iloc[i]
    year = EF_source_item_year['Year'].iloc[i]
    item = EF_source_item_year['Item'].iloc[i]
    graph_db.print_create_return_category(source, item, year)

Asses
Buffalo
Camels
Camels and Llamas
Cattle
Cattle, dairy
Cattle, non-dairy
Goats
Horses
Llamas
Mules and Asses
Mules and hinnies
Sheep
Sheep and Goats
Swine
Swine, breeding
Swine, market
Asses
Buffalo
Camels
Cattle
Cattle, dairy
Cattle, non-dairy
Goats
Horses
Mules and Asses
Mules and hinnies
Sheep
Sheep and Goats
Swine
Swine, breeding
Swine, market

In [166]:
EF_item_area_source_year

,Item,Area,Source,Year
0,Asses,Afghanistan,FAO TIER 1,"[1961, 1962, 1963, 1964, 1965, 1966, 1967, 196..."
1,Asses,Africa,FAO TIER 1,"[1961, 1962, 1963, 1964, 1965, 1966, 1967, 196..."
2,Asses,Albania,FAO TIER 1,"[1961, 1962, 1963, 1964, 1965, 1966, 1967, 196..."
3,Asses,Algeria,FAO TIER 1,"[1961, 1962, 1963, 1964, 1965, 1966, 1967, 196..."
4,Asses,Americas,FAO TIER 1,"[1961, 1962, 1963, 1964, 1965, 1966, 1967, 196..."
...,...,...,...,...
3441,"Swine, market",Western Europe,FAO TIER 1,"[1961, 1962, 1963, 1964, 1965, 1966, 1967, 196..."
3442,"Swine, market",World,FAO TIER 1,"[1961, 1962, 1963, 1964, 1965, 1966, 1967, 196..."
3443,"Swine, market",Yugoslav SFR,FAO TIER 1,"[1961, 1962, 1963, 1964, 1965, 1966, 1967, 196..."
3444,"Swine, market",Zambia,FAO TIER 1,"[1961, 1962, 1963, 1964, 1965, 1966, 1967, 196..."
3445,"Swine, market",Zimbabwe,FAO TIER 1,"[1961, 1962, 1963, 1964, 1965, 1966, 1967, 196..."

In [ ]:
#EF_item_area_source_year['source_year'] 
for i in range(0, EF_item_area_source_year.shape[0]):
    source = EF_item_area_source_year['Source'].iloc[i]
    year = EF_item_area_source_year['Year'].iloc[i]
    item = EF_item_area_source_year['Item'].iloc[i]
    area = EF_item_area_source_year['Area'].iloc[i]
    graph_db.print_create_return_area(item, area, year, source)

None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None