In [15]:
import pandas as pd

In [83]:
def make_dict(df): 
    out_dict = df.set_index(0).T.to_dict('list')
    return(out_dict)

def replace_val(df, col_dict, col): 
    df[col] = df[col].map(col_dict)
    return(df)

def split_clean_cols(df): 
    df[['animals','unit','geo']] = df['animals,unit,geo'].str.split(',', expand = True)
    df = df.drop(columns = ['animals,unit,geo'])
    df.columns = df.columns.str.replace(' ','')
    return(df)

In [85]:
# IMPORT FILES
animals = pd.read_csv('ESTAT_ANIMALS_en.tsv', delimiter = '\t', header = None)
unit = pd.read_csv('ESTAT_UNIT_en.tsv', delimiter = '\t', header = None)
geo = pd.read_csv('ESTAT_GEO_en.tsv', delimiter = '\t', header = None)
agr_r_animal = pd.read_csv('agr_r_animal.tsv', delimiter = '\t')

In [86]:
animals_dict = make_dict(animals)
unit_dict = make_dict(unit)
geo_dict = make_dict(geo)

In [87]:
cols = agr_r_animal.columns.tolist()
cols[0] = 'animals,unit,geo'
agr_r_animal.columns = cols

In [88]:
agr_r_animal = split_clean_cols(agr_r_animal)

        animals,unit,geo     2021      2020      2019      2018      2017   \
0        A2000,THS_HD,AT  1870.10   1855.43   1879.52   1912.81   1943.48
1       A2000,THS_HD,AT1   435.67    428.79    438.43    448.30    456.40
2      A2000,THS_HD,AT11    17.27     17.50     18.69     19.20     19.88
3      A2000,THS_HD,AT12   418.33    411.21    419.66    429.03    436.44
4      A2000,THS_HD,AT13     0.07      0.07      0.08      0.08      0.08
...                  ...       ...       ...       ...       ...       ...
20262   A4220,THS_HD,UKK        :         :         :         :         :
20263   A4220,THS_HD,UKL        :         :         :         :         :
20264   A4220,THS_HD,UKM        :         :         :         :         :
20265   A4220,THS_HD,UKN        :         :         :         :         :
20266  A4220,THS_HD,UKN0        :         :         :         :         :

          2016      2015      2014      2013   ...     1983      1982   \
0      1954.39   1957.61   1961.20   1958.28   ...  2633.30   2546.30
1       459.08    463.08    467.90    467.15   ...   716.50    697.40
2        20.43     20.43     20.93     20.98   ...    66.70     65.50
3       438.55    442.58    446.87    446.08   ...   649.60    631.70
4         0.10      0.07      0.10      0.09   ...     0.20      0.30
...         ...       ...       ...       ...  ...       ...       ...
20262        :         :         :      0.00   ...        :         :
20263        :         :         :      0.00   ...        :         :
20264        :         :         :      0.00   ...        :         :
20265        :         :         :      0.00   ...        :         :
20266        :         :      0.00      0.00   ...        :         :

          1981      1980      1979      1978      1977  animals    unit   geo
0      2530.20   2516.90   2547.90   2593.60   2547.30    A2000  THS_HD    AT
1       691.00    691.20    691.40    693.90    688.40    A2000  THS_HD   AT1
2        68.10     68.50     72.70     75.60     77.90    A2000  THS_HD  AT11
3       622.50    622.20    618.40    617.90    610.20    A2000  THS_HD  AT12
4         0.40      0.50      0.30      0.40      0.30    A2000  THS_HD  AT13
...         ...       ...       ...       ...       ...     ...     ...   ...
20262        :         :         :         :         :    A4220  THS_HD   UKK
20263        :         :         :         :         :    A4220  THS_HD   UKL
20264        :         :         :         :         :    A4220  THS_HD   UKM
20265        :         :         :         :         :    A4220  THS_HD   UKN
20266        :         :         :         :         :    A4220  THS_HD  UKN0

[20267 rows x 49 columns]
          2021      2020      2019      2018      2017      2016      2015   \
0      1870.10   1855.43   1879.52   1912.81   1943.48   1954.39   1957.61
1       435.67    428.79    438.43    448.30    456.40    459.08    463.08
2        17.27     17.50     18.69     19.20     19.88     20.43     20.43
3       418.33    411.21    419.66    429.03    436.44    438.55    442.58
4         0.07      0.07      0.08      0.08      0.08      0.10      0.07
...         ...       ...       ...       ...       ...       ...       ...
20262        :         :         :         :         :         :         :
20263        :         :         :         :         :         :         :
20264        :         :         :         :         :         :         :
20265        :         :         :         :         :         :         :
20266        :         :         :         :         :         :         :

          2014      2013      2012   ...     1983      1982      1981   \
0      1961.20   1958.28   1955.62   ...  2633.30   2546.30   2530.20
1       467.90    467.15    465.66   ...   716.50    697.40    691.00
2        20.93     20.98     21.61   ...    66.70     65.50     68.10
3       446.87    446.08    443.94   ...   649.60    631.70    622.50
4         0.10      0.09      0.11   ...     0.20      0.30      0.40
...         ...       ...       ...  ...       ...       ...       ...
20262        :      0.00         :   ...        :         :         :
20263        :      0.00         :   ...        :         :         :
20264        :      0.00         :   ...        :         :         :
20265        :      0.00         :   ...        :         :         :
20266     0.00      0.00         :   ...        :         :         :

          1980      1979      1978      1977  animals    unit   geo
0      2516.90   2547.90   2593.60   2547.30    A2000  THS_HD    AT
1       691.20    691.40    693.90    688.40    A2000  THS_HD   AT1
2        68.50     72.70     75.60     77.90    A2000  THS_HD  AT11
3       622.20    618.40    617.90    610.20    A2000  THS_HD  AT12
4         0.50      0.30      0.40      0.30    A2000  THS_HD  AT13
...         ...       ...       ...       ...     ...     ...   ...
20262        :         :         :         :    A4220  THS_HD   UKK
20263        :         :         :         :    A4220  THS_HD   UKL
20264        :         :         :         :    A4220  THS_HD   UKM
20265        :         :         :         :    A4220  THS_HD   UKN
20266        :         :         :         :    A4220  THS_HD  UKN0

[20267 rows x 48 columns]

In [76]:
agr_r_animal

Index(['2021', '2020', '2019', '2018', '2017', '2016', '2015', '2014', '2013',
       '2012', '2011', '2010', '2009', '2008', '2007', '2006', '2005', '2004',
       '2003', '2002', '2001', '2000', '1999', '1998', '1997', '1996', '1995',
       '1994', '1993', '1992', '1991', '1990', '1989', '1988', '1987', '1986',
       '1985', '1984', '1983', '1982', '1981', '1980', '1979', '1978', '1977',
       'animals', 'unit', 'geo'],
      dtype='object')

In [5]:
agr_r_animal[['animals','unit','geo/time']] = agr_r_animal['animals,unit,geo\\time'].str.split(',', expand = True)

In [6]:
agr_r_animal = agr_r_animal.drop(columns = ['animals,unit,geo\\time'])

In [7]:
agr_r_animal.columns = agr_r_animal.columns.str.replace(' ','')

In [8]:
agr_r_animal['animals'] = agr_r_animal['animals'].map(animals_dict).str[0]
agr_r_animal['unit'] = agr_r_animal['unit'].map(unit_dict).str[0]
agr_r_animal['geo/time'] = agr_r_animal['geo/time'].map(geo_dict).str[0]

In [9]:
agr_r_animal = agr_r_animal.melt(id_vars=['animals','unit','geo/time'], 
        var_name='year', 
        value_name='population')

In [11]:
agr_r_animal = agr_r_animal[agr_r_animal.population != ': ']

In [13]:
agr_r_animal_cat_yr = agr_r_animal.groupby(['animals'])['year'].unique().apply(list).reset_index()
agr_r_animal_cat_area_yr = agr_r_animal.groupby(['animals','geo/time'])['year'].unique().apply(list).reset_index()

In [16]:
agr_r_animal_cat_area_yr

,animals,geo/time,year
0,"Bovine animals, 1 to less than 2 years old",Abruzzo,"[2021, 2020, 2019, 2018, 2017, 2016, 2015, 201..."
1,"Bovine animals, 1 to less than 2 years old",Alentejo,"[2021, 2020, 2019, 2018, 2017, 2016, 2015, 201..."
2,"Bovine animals, 1 to less than 2 years old",Alföld és Észak,"[2021, 2020, 2019, 2018, 2017, 2016, 2015, 201..."
3,"Bovine animals, 1 to less than 2 years old",Algarve,"[2021, 2020, 2019, 2018, 2017, 2016, 2015, 201..."
4,"Bovine animals, 1 to less than 2 years old",Alsace,"[2021, 2020, 2019, 2018, 2017, 2016, 2015, 201..."
...,...,...,...
18801,"Sows, not covered",Ísland,"[2019, 2018, 2017, 2016, 2015, 2014, 2013, 201..."
18802,"Sows, not covered",Île de France,"[2021, 2020, 2019, 2018, 2017, 2016, 2015, 201..."
18803,"Sows, not covered",Östra Mellansverige,"[2021, 2020, 2019, 2018, 2017, 2016, 2015, 201..."
18804,"Sows, not covered",Östra Sverige,"[2021, 2020, 2019, 2018, 2017, 2016, 2015, 201..."
18805,"Sows, not covered",Övre Norrland,"[2021, 2020, 2019, 2018, 2017, 2016, 2015, 201..."